---
layout: layout.liquid
---
<main class="bg-gray-900 text-gray-100 flex flex-col gap-10 h-screen p-10">
        <section>
            <h1 class="text-6xl">Welcome to jefflundberg.com</h1>
        </section>
        <section class="mt-4">
            <h2 class="text-4xl mb-1">Currently working on…</h2>
            <ul class="list-disc ml-6">
                <li>11ty</li>
                <li>Tailwind</li>
                <li>Parcel</li>
                <li>Vue.js</li>
            </ul>
        </section>
        <section class="mt-4">
            <h2 class="text-4xl mb-1">Currently working with…</h2>
            <h3 class="text-2xl mb-1">Development Environment</h3>
            <ul class="list-disc ml-6">
                <li>Windows 10</li>
                <li>Ubuntu 20.04 on Windows Subsystem for Linux (WSL)</li>
                <li><a href="https://code.visualstudio.com/">VSCode</a></li>
            </ul>
            <h3 class="text-2xl mt-2 mb-1">Image Editing</h3>
            <ul class="list-disc ml-6">
                <li><a href="https://affinity.serif.com/en-us/photo/">Affinity Photo</a></li>
                <li><a href="https://affinity.serif.com/en-us/designer/">Affinity Designer</a></li>
                <li><a href="https://www.darktable.org/">Darktable</a></li>
            </ul>
        </section>
</main>